<div id="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <img class="hero-image" src="{{ about.heroImage.src }}" alt="{{ about.heroImage.alt }}"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1 col-sm-1 xs-hidden"></div>
      <div class="col-md-10 col-sm-10 col-xs-12">
        <div class="contact_info">
          <h1 class="about__title">Blame Your Brother is an award-winning animation studio.</h1>
          <p class="about__details">We are a creative-fuelled crew who strive to create visually compelling stories. Each project is an opportunity to push ourselves, entertain, and make new friends.</p>
        </div>
      </div>
      <div class="col-md-1 col-sm-1 xs-hidden"></div>
    </div>
  </div>
</div>
