<div id="contact">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<img class="hero-image" src="{{ contact.heroImage.src }}" alt="{{ contact.heroImage.alt }}"/>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12">
				<h2 class="contact__area">Canadian Representation</h2>
				<div class="contact__address">
					Booming Echo | Danielle Araiche<br/>
					<a href="mailto:danielle@boomingecho.com">danielle@<br class="visible-sm" />boomingecho.com</a><br/>
					416.522.2798<br/>
					Executive Producer
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<h2 class="contact__area">Toronto HQ</h2>
				<div class="contact__address">
					<a href="mailto:geoff@blameyourbrother.com">geoff@<br class="visible-sm" />blameyourbrother.com</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<h2 class="contact__area">US Representation</h2>
				<div class="contact__address">
					Anchor Point | Mike Holm<br/>
					<a href="mailto:mike@anchorpointanimation.com">mike@<br class="visible-sm" />anchorpointanimation.com</a><br/>
					206.588.5941<br/>
					Executive Producer
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h1 class="contact__title">Let's Work Together.</h1>
			</div>
		</div>
	</div>
</div>
