html {
  -webkit-font-smoothing: antialiased !important;
}

body {
  font-family: 'Lato', sans-serif;
}

#site-col {
  width: 100%;

  @media $media-min-tablet {
    width: 90%;
    margin: 0 auto;
  }

  @media $media-min-desktop {
    width: 900px;
  }
}

.line-break {
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;

  &:before {
    content: "";
    display: block;
    height: 1px;
    border-top: 1px solid #c0c2c7;
  }

  @media $media-min-tablet {
    padding: 0;

    &:before {
      margin: 0 15px;
    }
  }
}

.right-col {
  .description {
    font-family: 'Gotham Book', sans-serif;
    letter-spacing: 0.025em;
  }
}

@media $media-min-tablet {
  .container-fluid {
    padding: 30px 0;
  }

  .hero-image {
    width: 100%;
  }

  h2 {
    margin: 0;
    font-family: 'Futura';
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.13em;
    text-transform: uppercase;
  }

  h3 {
    margin: 0;
    font-family: 'Futura';
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.13em;
    text-transform: uppercase;
  }

  .description {
    padding: 15px 0 0;
    font-size: 12px;
    line-height: 20px;
  }

  .left-col {
    iframe {
      width: 100%;
    }
  }

  .right-col {
    h2 {
      padding: 0 0 15px;
      border-bottom: 1px solid #c0c2c7;
    }
  }
}

@media $media-min-tablet {
  .left-col {
    max-width: 629px;
  }

  .right-col {
    max-width: 267px;
  }
}

@media $media-min-desktop {
  .left-col {
    width: 629px;
    padding-right: 0;
  }

  .right-col {
    float: right;
    width: 267px;
    padding-left: 0;
  }
}
