#site-col {
  width: 100%;

  @media $media-min-desktop {
    width: 900px;
    margin: 0 auto;
  }
}

.line-break {
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;

  &:before {
    content: "";
    display: block;
    height: 1px;
    border-top: 1px solid #c0c2c7;
  }

  @media $media-min-tablet {
    padding: 0;

    &:before {
      margin: 0 15px;
    }
  }
}

@media $media-min-tablet {
  .container-fluid {
    padding: 30px 0;
  }

  .hero-image {
    width: 100%;
  }

  h2 {
    margin: 0;
    padding: 0 0 15px;
    border-bottom: 1px solid #c0c2c7;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }

  .description {
    padding: 15px 0 0;
    font-size: 12px;
    line-height: 20px;
  }

  .right-col {
    p {
      padding: 0 0 25px;
    }
  }
}

@media $media-min-desktop {
  .left-col {
    width: 629px;
    padding-right: 0;
  }

  .right-col {
    float: right;
    width: 267px;
    padding-left: 0;
  }
}
