@font-face {
	font-family: 'Futura';
	src: url('/assets/fonts/FuturaStd-Bold.eot');
	src: local('☺'), url('/assets/fonts/FuturaStd-Bold.woff') format('woff'), url('/assets/fonts/FuturaStd-Bold.ttf') format('truetype'), url('/assets/fonts/FuturaStd-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Book';
	src: url('/assets/fonts/Gotham-Book.eot');
	src: local('☺'), url('/assets/fonts/Gotham-Book.woff') format('woff'), url('/assets/fonts/Gotham-Book.ttf') format('truetype'), url('/assets/fonts/Gotham-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
