#footer {

  padding-bottom: 25px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.13em;

  .social-links {
    list-style: none;
    padding: 20px 30px 10px 0;
    border-top: 1px solid #c0c2c7;
  }

  a {
    color: #333;
    text-decoration: none;

    &[href^=tel] {
      color: inherit;
    }
  }

  li {
    display: inline-block;
    width: 29px;
    height: 29px;
    margin: 0 3px 0 0;
    line-height: 44px;

    a {
      display: block;
      width: 29px;
      height: 29px;
      overflow: hidden;
      text-indent: -1000px;
      background-repeat: no-repeat;
    }

    &.facebook {
      a {
        background-image: url('/assets/images/footer-facebook.png')
      }
    }

    &.twitter {
      a {
        background-image: url('/assets/images/footer-twitter.png')
      }
    }

    &.vimeo {
      a {
        background-image: url('/assets/images/footer-vimeo.png')
      }
    }

    &.instagram {
      a {
        background-image: url('/assets/images/footer-instagram.png')
      }
    }
  }

  .contact-info {
    margin: 0 0 11px;
  }

  @media $media-min-tablet {
    padding-top: 25px;
    border-top: 1px solid #c0c2c7;
    clearfix();

    .footer-item {
      float: left;
      height: 40px;
      padding-right: 15px;
      padding-left: 15px;
      border-right: 1px solid #c2c4c9;

      &:last-child {
        padding-right: 0;
        border-right: none;
      }
    }

    .contact-info, .address {
      margin: 0;
      padding-top: 5px;
    }

    .social-links {
      padding: 8px 30px 10px 0;
      border-top: none;
    }
  }

  @media $media-min-desktop {
    padding: 25px 0;

    .footer-item {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
