#header {
  @media $media-min-tablet {
    padding-top: 30px;
    padding-bottom: 27px;
    border-bottom: 1px solid #c0c2c7;

    h1 {
      width: 257px;
      height: 110px;
      margin: 0;
      overflow: hidden;
      text-indent: -1000px;
      background: url('/assets/images/logo.png');
    }

    ul {
      list-style: none;
      text-align: right;
    }

    li {
      display: inline-block;
      padding: 0 30px 0 0;
      line-height: 110px;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;

      &:last-child {
        padding: 0;
      }

      a {
        color: #010d21;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  @media $media-min-desktop {
    padding: 30px 0 27px;
  }
}

@media $media-min-tablet {
  #contact {
    #header {
      .contact {
        a {
          color: #d2d247;
        }
      }
    }
  }

  #home {
    #header {
      .work {
        a {
          color: #d2d247;
        }
      }
    }
  }
}
