.about__title {
  display: inline;
  margin-top: 45px;
  margin-bottom: 0;
  color: #d4d246;
  font-size: 25px;
  line-height: 35px;
}

.about__details {
  display: inline;
  font-size: 25px;
  line-height: 35px;
}
