#home {

  text-align: center;

  .work-item {
    margin-bottom: 17px;
  }

  .work-image, .work-cta {
    display: inline-block;
  }

  .work-cta {
    width: 100%;
    text-align: left;
    text-decoration: none;

    h2, h3 {
      display: inline;
      font-size: 15px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.13em;
      text-transform: uppercase;
    }

    h2 {
      padding: 2px 3px 0 0;
      color: #d2d247;
    }

    h3 {
      color: #000d22;
    }
  }

  @media $media-min-tablet {
    text-align: left;

    > .container-fluid {
      padding-top: 0;
      padding-bottom: 0;
    }

    .work-item {
      position: relative;
      margin-top: 30px;
      margin-bottom: 0;

      &:nth-child(3n + 4) {
        clear: left;
      }

      &:last-child {
        margin-bottom: 30px;
      }

      img {
        width: 100%;
      }

      &:hover {
        .work-cta {
          opacity: 1;
        }
      }
    }

    .work-image, .work-cta {
      display: block;
    }

    .work-cta {
      opacity: 0;
      position: absolute;
      top: 0;
      right: 15px;
      bottom: 0;
      left: 15px;
      width: auto;
      background: rgba(#000, 0.7);
      transition: opacity 0.4s;

      .work-info {
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        transform: translateY(-50%);

        h2, h3 {
          display: block;
        }

        h2 {
          padding: 0 10px;
          color: #fff;
          font-size: 24px;
          line-height: 28px;
        }

        h3 {
          margin: 0 25px;
          color: #d2d247;
          font-size: 15px;
          line-height: 24px;
          text-transform: uppercase;
        }

        .work-type {
          color: #fff;
          font-size: 11px;
          line-height: 24px;
          text-transform: uppercase;
          font-style: italic;

          &:before, &:after {
            content: '-';
            display: inline;
            padding: 0 5px;
            font-style: italic;
          }

          &:empty {
            &:before, &:after {
              display: none;
            }
          }
        }
      }
    }
  }
}
