<div id="footer" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <ul class="social-links footer-item">
        <li class="twitter"><a href="https://twitter.com/BlameYourBro">Twitter</a></li>
        <li class="facebook"><a href="https://www.facebook.com/blameyourbrother">Facebook</a></li>
        <li class="instagram"><a href="http://instagram.com/blameyourbrother/">Instagram</a></li>
        <li class="vimeo"><a href="http://vimeo.com/user4536604">Vimeo</a></li>
      </ul>
      <div class="contact-info footer-item">
        <div>P: 647.405.4489</div>
        <div>E: <a href="mailto:geoff@blameyourbrother.com">geoff@blameyourbrother.com</a></div>
      </div>
      <div class="address footer-item">
        <div><a href="/contact.html">96 Spadina - 5th Floor - 507</a></div>
        <div><a href="/contact.html">Toronto, ON M5V 2J6</a></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="us-representation">
        <strong class="us-representation-title">US Representation:</strong>
        <span>Mike Holm // Anchor Point</span>
        <b>Executive Producer</b>
        <a href="mailto:mike@anchrpoint.com">mike@anchorpoint.com</a>
        <span>206.588.5941</span>
      </div>
    </div>
  </div>
</div>
