<div id="footer" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <ul class="social-links footer-item">
        <li class="twitter"><a href="http://twitter.com">Twitter</a></li>
        <li class="facebook"><a href="http://facebook.com">Facebook</a></li>
        <li class="instagram"><a href="http://instagram.com">Instagram</a></li>
        <li class="vimeo"><a href="http://vimeo.com">Vimeo</a></li>
      </ul>
      <div class="contact-info footer-item">
        <div>P: 416.861.0718</div>
        <div>E: geoff@blameyourbrother.com</div>
      </div>
      <div class="address footer-item">
        <div>96 Spadina - 5th Floor - 507</div>
        <div>Toronto, ON M5V 2J6</div>
      </div>
    </div>
  </div>
</div>
