<div id="footer" class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<ul class="social-links footer-item">
				<li class="instagram"><a href="https://instagram.com/blameyourbrother/">Instagram</a></li>
				<li class="twitter"><a href="https://twitter.com/BlameYourBro">Twitter</a></li>
				<li class="vimeo"><a href="https://vimeo.com/user4536604">Vimeo</a></li>
				<li class="facebook"><a href="https://www.facebook.com/blameyourbrother">Facebook</a></li>
			</ul>
		</div>
	</div>
</div>
