<div id="header" class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <h1>Blame Your Brother Creative Workshop</h1>
    </div>
    <div class="col-md-8 col-sm-8">
      <ul>
        <li class="work"><a href="index.html">Work</a></li>
        <li class="contact"><a href="contact.html">Contact</a></li>
        <li class="about">About</li>
        <li class="montage">Montage</li>
        <li class="blog">Blog</li>
      </ul>
    </div>
  </div>
</div>
