<div id="header" class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <h1>Blame Your Brother Creative Workshop</h1>
    </div>
    <div class="col-md-8 col-sm-8">
      <ul>
        <li>Work</li>
        <li>Contact</li>
        <li>About</li>
        <li>Montage</li>
        <li>Blog</li>
      </ul>
    </div>
  </div>
</div>
