<div id="header" class="container-fluid">
  <div class="row">
    <nav class="col-md-8 col-sm-8 col-md-push-4 col-sm-push-4">
      <ul>
        <li class="work"><a href="/index.html">Work</a></li>
        <li class="contact"><a href="/contact.html">Contact</a></li>
        <li class="about"><a href="/about.html">About</a></li>
        <li class="reel"><a href="/reel.html">Reel</a></li>
        <li class="blog"><a href="http://blameyourbrother.tumblr.com" target="byb_blog">Blog</a></li>
      </ul>
      <h2 class="visible-xs">Menu</h2>
    </nav>
    <div class="col-md-4 col-sm-4 col-md-pull-8 col-sm-pull-8">
      <h1>Blame Your Brother Creative Workshop</h1>
    </div>
  </div>
</div>
